{% extends 'base.html'%}
{% block title %} О нас {% endblock %}
{% block body %}
<section id = 'Myinfo'>
    <div>
        <h1 style="text-align: center;">Иноформация об участнике</h1>
    </div>
    <div class="Myinfo_text">
        Меня зовут Пак Максим, я являюсь учеником 10 Б физико-математического класса МАОУ гимназии №32 г. Калининграда.  В качестве темы для работы я выбрал тему "80 лет победы». Мой выбор был обусловлен тем, что по моему мнению эта тема в данный момент актуальна как никогда. Во-первых, Победа в этой войне – это очень важное событие для нашей страны. Мне кажется что для моей темы подходит именно сайт, так как на сайте можно разместить информацию в разных форматах: текст, фотографии, видео, ссылки на исторические статьи. Я надеюсь, что мой сайт поможет людям узнать о празднике и о Великой Отечественной войне больше 
    </div>
</section>
{% endblock %}