<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %} {% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href= "{{ url_for('static', filename = 'styles/style.css') }}">
        {% block style %} {% endblock %}
    </head>
    <body>
        <header>
                <img src ="{{ url_for('static', filename ='media/images/logo.png' )}}" alt="Логотип" class = 'logo-image'>
                <h1> 80 лет победы</h1>    
                <nav>
                        <ul>
                            <li><a href="/"> Главная </a></li>
                            <li><a href="/about"> О нас </a></li>
                            <li><a href="/heroes">Герои войны</a></li>
                            <li><a href="/contacts">Контакты</a></li>
                        </ul>
                        <div class ='theme-toggle hidden'>
                            <label for ='theme-switch'>Темная тема </label>
                            <input type ='checkbox' id = "theme-switch">
                        </div>
                    </nav>

        </header>
        {% block body %}{% endblock %}
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        {% block script %}{% endblock %}
        <footer id='cont'>
            <div class="contacts">
                <a href="tel:+79673512774" class="link">Телефон: +7 967 351 2774</a>
                <a href="mailto:mortiyt300908@gmail.com" class="link">Почта: mortiyt3000908@gmail.com</a>
            </div>
            <div class="contacts">
                <a href="/" class="link">Главная</a>
                <a href="index-light.html" class="link hidden">Главная-светлая</a>
                <a href="registration.html" class="link hidden">Регистрация</a>
                <a href="/heroes" class="link">Герои войны</a>
                <a href="/profile" class="link hidden" >Личный кабинет</a>
                <a href="/about" class="link">О нас </a>

            </div>
        </footer>
    <script src="{{url_for('static', filename = 'scripts/script.js')}}"></script>
    </body>
</html>

