{% extends 'base.html' %}
{% block title %} Главная страница  {% endblock %}
{% block body %}
<section id = "about">
    <h1> Великая Отечественная война</h1>
    <div class="aboutText">Международный проект «Патриотические конкурсы». Организатор — межрегиональная патриотическая спортивная детско-молодёжная общественная организация по развитию культуры, спорта и спортивно-патриотическому воспитанию «Спорт-Патриот Калининградской области»</div>
</section>
<section id ="video">
    <div class="video" id="video">
        <video src="{{url_for('static', filename= 'media/videos/hello.mp4')}}" controls alt="Видео"></video>
    </div>
</section>
<section id = "slider">
    <div class ='slide' id ="0">
        <img class = 'slider-image' src ="{{url_for('static', filename ='media/images/RIAN_archive_907_Leningradians_queueing_up_for_water.jpg')}}" alt="Конкурс 1" style="width: 100px; height: auto;">
        <div class="slider content">
        <div class="name"> Блокада  Ленинграда </div> <hr>
        <p>Одна из самых трагических страниц в истории Великой Отечественной войны, длившаяся 872 дня с 8 сентября 1941 по 27 января 1944 года. В начале блокады в городе находилось около 2,5 миллионов жителей, а также войска Ленинградского фронта и Балтийский флот. Город оказался в окружении вражеских войск, и единственной связью с внешним миром стала легендарная «Дорога жизни» через Ладожское озеро. Жители Ленинграда пережили страшные испытания: массовый голод, отсутствие тепла и электричества, постоянные артобстрелы и бомбардировки.</p>
        </div> 
        <div class="rating">1941-1944гг.</div>
        <a class="more-info" href="https://ru.ruwiki.ru/wiki/Блокада_Ленинграда" style ='text-decoration: none; color: white;'>Подробнее ></a>
    </div>
    <div class ='slide' id ="1">
        <img class = 'slider-image' src ="{{url_for('static', filename ='media/images/Silverfox1.jpg')}}" alt="Конкурс 1" style="width: 100px; height: auto;">
        <div class="slider content">
        <div class="name"> Оборона Заполярья </div> <hr>
        <p>Битва за Заполярье, развернувшаяся в годы Великой Отечественной войны, лишь небольшой эпизод противостояния Советского Союза и нацистской Германии. Боевые действия, проходившие на территории Мурманской области, Северной Карелии и Петсамо, на Баренцевом, Белом и Карском морях, были наполнены не менее трагическими и героическими событиями.</p>
        </div> 
        <div class="rating">1941-1944гг.</div>
        <a class="more-info" href="https://ru.ruwiki.ru/wiki/Оборона_Заполярья_(1941–1944)" style ='text-decoration: none; color: white;'>Подробнее ></a>
    </div>
    <div class ='slide' id ="2">
        <img class = 'slider-image' src ="{{url_for('static', filename ='media/images/1712effc-5286-55c7-97db-7c297e70e4b7.jpg')}}" alt="Конкурс 1" style="width: 100px; height: auto;">
        <div class="slider content">
        <div class="name"> Коренной перелом </div> <hr>
        <p>Коренной перелом — переход стратегической инициативы в Великой Отечественной войне от нацистской Германии к СССР в ноябре 1942 — ноябре 1943 годов. Коренной перелом начался, когда Красная армия перешла от обороны к наступлению в Битве под Сталинградом, и завершился с последующим разгромом вермахта в Курской битве и Битве за Днепр. Поражение немецких войск в Сталинграде и на Курской дуге стало ключевым моментом не только Великой Отечественной, но и всей Второй мировой войны. После коренного перелома Красная армия провела серию стратегических наступательных операций и к осени 1944 года очистила от врага всю территорию Советского Союза.</p>
        </div> 
        <div class="rating">1942-1943гг.</div>
        <a class="more-info" href="https://ru.ruwiki.ru/wiki/Коренной_перелом_в_Великой_Отечественной_войне" style ='text-decoration: none; color: white;'>Подробнее ></a>
    </div>
    <div class ='slide hidden' id ="3">
        <img class = 'slider-image' src ="{{url_for('static', filename ='media/images/Знамя_Победы_над_рейхстагом.jpg')}}" alt="Конкурс 3" style="width: 100px; height: auto;">
        <div class="slider content">
        <div class="name"> Завершающий этап </div> <hr>
        <p>Заключительный этап Великой Отечественной войны ознаменовался началом общего наступления советских войск на Украине. Второе крупное поражение немецких войск произошло под Корсунь-Шевченвкоским, где были окружены 6 дивизий врага. Летом 1944 года в ходе операции «Багратион» была полностью разгромлена группа армий «Центр», Красная Армия перешла к освобождению оккупированных европейских территорий. Штурм Берлина завершился взятием Рейхстага 2 мая 1945 года.</p>
        </div> 
        <div class="rating">1944-1945гг.</div>
        <a class="more-info" href="https://ru.ruwiki.ru/wiki/Этапы_Великой_Отечественной_войны#Этап_III_(январь_1944_года_—_9_мая_1945_года)" style ='text-decoration: none; color: white;'>Подробнее ></a>
    </div>
    <div class ='slide hidden' id ="4">
        <img class = 'slider-image' src ="{{url_for('static', filename ='media/images/Victory_Day_Parade_2005-40.jpg')}}" alt="Конкурс 2" style="width: 100px; height: auto;">
        <div class="slider content">
        <div class="name">День Победы</div> <hr>
        <p> День Побе́ды — праздник победы Красной армии и советского народа над нацистской Германией в Великой Отечественной войне 1941—1945 годов.В День Победы во многих городах России проводятся военные парады и праздничные салюты, в Москве производится организованное шествие к Могиле Неизвестного Солдата с церемонией возложения венков, в крупных городах — праздничные шествия и фейерверки.</p>
        </div> 
        <div class="rating">4.6 / 5</div>
        <a class="more-info" href="https://ru.ruwiki.ru/wiki/День_Победы" style ='text-decoration: none; color: white;'>Подробнее ></a>
    </div>
</section>    
    <div class="sliderbuttons">
        <div class=" controls prev"><</div>
        <div class=" controls next">></div> 
    </div>

<section id ='authorization' class ="hidden">
    <h1 style="font-size: 20pt;">Авторизация</h1>
    <form action="" class="auth">
        <input  class ='authForm'type="text" name="username" required placeholder="Логин"> <br>
        <input class="authForm" type="password" name="password" required placeholder="Пароль"> <br>
        <div class="forgot"><a href="" >Забыли пароль?</a></div>
    <button class="submit" type="submit">зарегестрироваться</button>
    </form>
</section>

<div class="comp" id="comp">
    <p style="color: #fff; font-size: 50px; margin-bottom: 10px; text-align: center;">Основные военные операции </p>
    <table class="table">
        <thead>
            <th>Название</th>
            <th class ='tablePhoto'>Фото</th>
            <th colspan="2">Описание</th>
            <th>Дата</th>
            <th>Итог</th>
            <th>Ссылка</th>
        </thead>
        <tbody>
            <td>Операция "Искра"</td>
            <td class ='tablePhoto' ><img src="{{url_for('static', filename ='media/images/comp1.jpg')}}"></td>
            <td colspan = '2'>Наступательная операция советских войск, целью которой был прорыв блокады Ленинграда. В операции участвовали Ленинградский и Волховский фронты. План операции предусматривал встречный удар: войска Ленинградского фронта наступали с запада, а Волховского фронта - с востока. Основной удар был направлен на небольшой участок в районе Шлиссельбурга, где немецкие войска создали мощный оборонительный рубеж.</td>
            <td>12 — 30 января 1943 </td>
            <td>Прорыв блокады Ленинграда</td>
            <td><a href="https://ru.ruwiki.ru/wiki/Операция_«Искра»" class="slidemore">Подробнее </a></td>
        </tbody>
        <tbody>
            <td>Операция "Тайфун"</td>
            <td class ='tablePhoto'><img src="{{url_for('static', filename ='media/images/comp2.jpg')}}"></td>
            <td colspan = '2'>У стратегическая наступательная операция немецких войск с целью захвата Москвы.План операции предусматривал охват Москвы с севера (группа армий “Центр” под командованием фон Бока) и с юга (2-я танковая группа Гудериана), окружение и уничтожение советских войск в районе столицы.</td>
            <td>30 сентября 1941 года — 20 апреля 1942 года </td>
            <td>стратегическая победа СССР</td>
            <td><a href="https://ru.ruwiki.ru/wiki/Битва_за_Москву" class="slidemore">Подробнее </a></td>
        </tbody>
        <tbody>
            <td>Крымская операция</td>
            <td class ='tablePhoto'><img src="{{url_for('static', filename ='media/images/comp3.jpg')}}"></td>
            <td colspan = '2'>Наступательная операция советских войск с целью освобождения Крыма от войск нацистской Германии во время Великой Отечественной войны. Проводилась с 8 апреля по 12 мая 1944 года силами 4-го Украинского фронта и Отдельной Приморской армии во взаимодействии с Черноморским флотом и Азовской военной флотилией. Результатами операции стали полный разгром 17-й армии вермахта и полное освобождение Крымского полуострова. Был ликвидирован крупный плацдарм противника, угрожавший действиям находящихся на Украине советских войск и освобождена главная база Черноморского флота – Севастополь.</td>
            <td>8 апреля — 12 мая 1944 года   </td>
            <td>освобождение Крыма</td>
            <td><a href="https://ru.ruwiki.ru/wiki/Крымская_операция_(1944)" class="slidemore">Подробнее </a></td>
        </tbody>
        <tbody>
            <td>Прибалтийская операция</td>
            <td class ='tablePhoto'><img src="{{url_for('static', filename ='media/images/comp4.jpg')}}"></td>
            <td colspan = '2'>Стратегическая наступательная операция советских войск, проведённая с 14 сентября по 24 ноября 1944 года на территории Прибалтики с целью освобождения от немецких войск Эстонии, Латвии и Литвы. Включала в себя четыре фронтовые и межфронтовые операции: Рижскую, Таллинскую, Моонзундскую и Мемельскую. Операция длилась 71 день, ширина фронта достигала 1000 км, а глубина — 400 км.</td>
            <td>14 сентября — 24 ноября 1944 года</td>
            <td>Освобождение Литвы, Латвии, Эстонии</td>
            <td><a href="https://ru.ruwiki.ru/wiki/Прибалтийская_операция_(1944)" class="slidemore">Подробнее </a></td>
        </tbody>
        <tbody>
            <td>Берлинская операция</td>
            <td class ='tablePhoto'><img src="{{url_for('static', filename ='media/images/comp5.jpg')}}"></td>
            <td colspan = '2'>Наступательная операция стала одной из последних и самых значимых операций Красной армии в Европе. В операции участвовали войска 1-го Белорусского фронта под командованием маршала Жукова, 1-го Украинского фронта маршала Конева и 2-го Белорусского фронта маршала Рокоссовского. Общая численность советских войск составляла около 2,35 миллиона человек, 6250 танков и более 7500 самолётов.</td>
            <td>16 апреля — 2 мая 1945 года</td>
            <td>Взятие Берлина (02 мая), поражение Германии</td>
            <td><a href="https://ru.ruwiki.ru/wiki/Берлинская_наступательная_операция" class="slidemore">Подробнее </a></td>
        </tbody>
        <tbody>
            <td>Кёнигсбергская операция</td>
            <td class ='tablePhoto'><img src="{{url_for('static', filename ='media/images/5def8425-99cd-5d56-babc-465d0c194db5.jpg')}}"></td>
            <td colspan = '2'>Наступательная операция стала одной из последних и самых значимых операций Красной армии в Европе. В операции участвовали войска 1-го Белорусского фронта под командованием маршала Жукова, 1-го Украинского фронта маршала Конева и 2-го Белорусского фронта маршала Рокоссовского. Общая численность советских войск составляла около 2,35 миллиона человек, 6250 танков и более 7500 самолётов.</td>
            <td>6 — 9 апреля 1945 года</td>
            <td>Взятие города-крепости Кёнигсберг</td>
            <td><a href="https://ru.ruwiki.ru/wiki/Кёнигсбергская_операция_(1945)" class="slidemore">Подробнее </a></td>
        </tbody>
    </table>
</div>
<section id ='search' class="hidden">
    <p style="color: #fff; font-size: 50px; margin-bottom: 10px; text-align: center;">Поиск</p>
        <div class="search">
            <datalist class="comps" id="comps" aria-placeholder="Поиск" >
                <option value="Передай эстафету"></option>
                <option value="Радисты"></option>
                <option value="Следопыт"></option>
                <option value="Военный рюкзак"></option>
                <option value="Спасти пленника"></option>
            </datalist>
            <input type="text"style="width: 800px; display: flex; justify-self: center; height: 40px; font-size: 30px;" list="comps" autocomplete="on">
        </div>


</section>
<section id = "feedback" class="hidden">
    
    <div class="feedback">
         <h1 style="display: flex; justify-self:  center; font-size: 40px;">Отзывы</h1>
        <div class="feedback1">
            <div class="feedbackUser">
                <img src = "{{url_for('static', filename ='media/images/userlogo.jpg')}}" alt="Фото профиля" class="userLogo">
                <p style="font-size: 14pt; margin-bottom: 5px;">Павел Варов</p>
                <p style="color: #999; margin-top: 5px;">23.02.2025</p>
            </div> <br>
                <div class="feedbackText">«Отличный конкурс! Получил массу удовольствия!» <br><a href="competition1.html" style="color: #fff;">Подробнее</a></div>
        </div>
        <div class="feedback2">
            <div class="feedbackUser">
            <img src = "{{url_for('static', filename ='media/images/userlogo1.jpg')}}" alt="Фото профиля" class="userLogo">
            <p style="font-size: 14pt; margin-bottom: 5px;">Инокентий Металллург</p>
            <p style="color: #999; margin-top: 5px;">23.02.2025</p>
        </div> <br>
        <div class="feedbackText">«Это был незабываемый опыт!» <br><a href="competition1.html" style="color: #fff;">Подробнее</a></div>
    </div>
    <div class="feedback3">
        <div class="feedbackUser">
        <img src = "{{url_for('static', filename ='media/images/userlogo1.jpg')}}" alt="Фото профиля" class="userLogo">
        <p style="font-size: 14pt; margin-bottom: 5px;">Виталий Шахтов</p>
        <p style="color: #999; margin-top: 5px;">23.02.2025</p>
    </div> <br>
    <div class="feedbackText">«Мне очень понравилось, советую всем принять участие!» <br><a href="competition1.html" style="color: #fff;">Подробнее</a></div>
    </div>       
</section>
<section id ="subscribe" style ='display: none;'>
    <div class="sub">
        <form class="subform">
            <h1 class="subText">Подписка на новости</h1>
            <p class="sube">Ваш email:</p>
            <input type="email" class="arinput" name="email" required placeholder="Введите ваш email">
            <div class="check">
                <input type="checkbox" class="checkbox" name="check" required>
                <label for="check">Я согласен на обработку персональных данных</label>
            </div>
            <button type="submit" class="arsub">Подписаться</button>
        </form>
    </div>   
</section>

{% endblock %}
