{% extends 'base.html' %}
{% block title %} Главная страница  {% endblock %}
{% block body %}
<section id = "slider">
    <div class ='slide' id ="0">
        <img class = 'slider-image' src ="{{url_for('static', filename ='media/images/comp4.png')}}" alt="Конкурс 1" style="width: 100px; height: auto;">
        <div class="slider content">
        <div class="name"> 1 </div> <hr>
        <p>Заранее подготавливаем звукозапись, которая будет состоять из разных, поочередно повторяющихся звуков: мяуканья кошки, пения птицы, журчания воды, лая собаки, звонка в дом и так далее. Участники игры слушают эти звуки и стараются угадать их источники. За каждый угаданный звук игрок получает балл (должен его угадать первым). Соответственно победителем становится тот, кто имеет набольшее их количество.</p>
        </div> 
        <div class="rating">4.3 / 5</div>
        <a class="more-info" href="/competitions/RadioOperators" style ='text-decoration: none; color: white;'>Подробнее ></a>
    </div>
    <div class ='slide' id ="1">
        <img class = 'slider-image' src ="{{url_for('static', filename ='media/images/comp4.png')}}" alt="Конкурс 1" style="width: 100px; height: auto;">
        <div class="slider content">
        <div class="name"> 2 </div> <hr>
        <p>Заранее подготавливаем звукозапись, которая будет состоять из разных, поочередно повторяющихся звуков: мяуканья кошки, пения птицы, журчания воды, лая собаки, звонка в дом и так далее. Участники игры слушают эти звуки и стараются угадать их источники. За каждый угаданный звук игрок получает балл (должен его угадать первым). Соответственно победителем становится тот, кто имеет набольшее их количество.</p>
        </div> 
        <div class="rating">4.3 / 5</div>
        <a class="more-info" href="/competitions/RadioOperators" style ='text-decoration: none; color: white;'>Подробнее ></a>
    </div>
    <div class ='slide' id ="2">
        <img class = 'slider-image' src ="{{url_for('static', filename ='media/images/comp4.png')}}" alt="Конкурс 1" style="width: 100px; height: auto;">
        <div class="slider content">
        <div class="name"> 3 </div> <hr>
        <p>Заранее подготавливаем звукозапись, которая будет состоять из разных, поочередно повторяющихся звуков: мяуканья кошки, пения птицы, журчания воды, лая собаки, звонка в дом и так далее. Участники игры слушают эти звуки и стараются угадать их источники. За каждый угаданный звук игрок получает балл (должен его угадать первым). Соответственно победителем становится тот, кто имеет набольшее их количество.</p>
        </div> 
        <div class="rating">4.3 / 5</div>
        <a class="more-info" href="/competitions/RadioOperators" style ='text-decoration: none; color: white;'>Подробнее ></a>
    </div>
    <div class ='slide hidden' id ="3">
        <img class = 'slider-image' src ="{{url_for('static', filename ='media/images/comp2.jfif')}}" alt="Конкурс 3" style="width: 100px; height: auto;">
        <div class="slider content">
        <div class="name"> 4 </div> <hr>
        <p>Участники разделяются на несколько команд. За 5 минут каждая команда составляет  список вещей, которые обязательно нужно брать в военный поход. При этом их размер не должен превышать самого рюкзака. Далее команды сверяют списки. Победит та, чей список окажется больше.</p>
        </div> 
        <div class="rating">5 / 5</div>
        <a class="more-info" href="/competitions/MilitaryBackpack" style ='text-decoration: none; color: white;'>Подробнее ></a>
    </div>
    <div class ='slide hidden' id ="4">
        <img class = 'slider-image' src ="{{url_for('static', filename ='media/images/comp3.jpg')}}" alt="Конкурс 2" style="width: 100px; height: auto;">
        <div class="slider content">
        <div class="name">5</div> <hr>
        <p> В комнате прячут большое количество  флажков, которые должны найти игроки. За каждый флажок ведущий вручает ребятам  одну букву из слова «СЛЕДОПЫТ». Команда, которой удастся быстрее всех составить слово и будет считаться победившей. Количество комплектов букв должно быть равно числу игроков.</p>
        </div> 
        <div class="rating">4.6 / 5</div>
        <a class="more-info" href="/competitions/MilitaryBackpack" style ='text-decoration: none; color: white;'>Подробнее ></a>
    </div>
</section>    
    <div class="sliderbuttons">
        <div class=" controls prev"><</div>
        <div class=" controls next">></div> 
    </div>

<section id ='authorization' class ="hidden">
    <h1 style="font-size: 20pt;">Авторизация</h1>
    <form action="" class="auth">
        <input  class ='authForm'type="text" name="username" required placeholder="Логин"> <br>
        <input class="authForm" type="password" name="password" required placeholder="Пароль"> <br>
        <div class="forgot"><a href="" >Забыли пароль?</a></div>
    <button class="submit" type="submit">зарегестрироваться</button>
    </form>
</section>
<section id = "about">
    <h1> Великая Отечественная война</h1>
    <div class="aboutText">Международный проект «Патриотические конкурсы». Организатор — межрегиональная патриотическая спортивная детско-молодёжная общественная организация по развитию культуры, спорта и спортивно-патриотическому воспитанию «Спорт-Патриот Калининградской области»</div>
</section>
<section id ="video">
    <div class="video" id="video">
        <video src="{{url_for('static', filename= 'media/videos/hello.mp4')}}" controls alt="Видео"></video>
    </div>
</section>
<div class="comp" id="comp">
    <p style="color: #fff; font-size: 50px; margin-bottom: 10px; text-align: center;">Основные военные операции </p>
    <table class="table">
        <thead>
            <th>Название</th>
            <th class ='tablePhoto'>Фото</th>
            <th colspan="2">Описание</th>
            <th>Дата</th>
            <th>Итог</th>
            <th>Ссылка</th>
        </thead>
        <tbody>
            <td>Операция "Искра"</td>
            <td class ='tablePhoto' ><img src="{{url_for('static', filename ='media/images/comp1.jpg')}}"></td>
            <td colspan = '2'>Наступательная операция советских войск, целью которой был прорыв блокады Ленинграда. В операции участвовали Ленинградский и Волховский фронты. План операции предусматривал встречный удар: войска Ленинградского фронта наступали с запада, а Волховского фронта - с востока. Основной удар был направлен на небольшой участок в районе Шлиссельбурга, где немецкие войска создали мощный оборонительный рубеж.</td>
            <td>12−30 января 1943 </td>
            <td>Прорыв блокады Ленинграда</td>
            <td><a href="https://ru.wikipedia.org/wiki/Операция_«Искра»" class="slidemore">Подробнее </a></td>
        </tbody>
        <tbody>
            <td>Операция "Тайфун"</td>
            <td class ='tablePhoto'><img src="{{url_for('static', filename ='media/images/comp2.jpg')}}"></td>
            <td colspan = '2'>У стратегическая наступательная операция немецких войск с целью захвата Москвы.План операции предусматривал охват Москвы с севера (группа армий “Центр” под командованием фон Бока) и с юга (2-я танковая группа Гудериана), окружение и уничтожение советских войск в районе столицы.</td>
            <td>30 сентября 1941 года — 20 апреля 1942 года </td>
            <td>стратегическая победа СССР</td>
            <td><a href="https://ru.wikipedia.org/wiki/Битва_за_Москву" class="slidemore">Подробнее </a></td>
        </tbody>
        <tbody>
            <td>Крымская операция</td>
            <td class ='tablePhoto'><img src="{{url_for('static', filename ='media/images/comp3.jpg')}}"></td>
            <td colspan = '2'>Наступательная операция советских войск с целью освобождения Крыма от войск нацистской Германии во время Великой Отечественной войны. Проводилась с 8 апреля по 12 мая 1944 года силами 4-го Украинского фронта и Отдельной Приморской армии во взаимодействии с Черноморским флотом и Азовской военной флотилией. Результатами операции стали полный разгром 17-й армии вермахта и полное освобождение Крымского полуострова. Был ликвидирован крупный плацдарм противника, угрожавший действиям находящихся на Украине советских войск и освобождена главная база Черноморского флота – Севастополь.</td>
            <td>8 апреля — 12 мая 1944 года </td>
            <td>освобождение Крыма</td>
            <td><a href="competition.html" class="slidemore">Подробнее </a></td>
        </tbody>
        <tbody>
            <td>Прибалтийская операция</td>
            <td class ='tablePhoto'><img src="{{url_for('static', filename ='media/images/comp4.jpg')}}"></td>
            <td colspan = '2'>Стратегическая наступательная операция советских войск, проведённая с 14 сентября по 24 ноября 1944 года на территории Прибалтики с целью освобождения от немецких войск Эстонии, Латвии и Литвы. Включала в себя четыре фронтовые и межфронтовые операции: Рижскую, Таллинскую, Моонзундскую и Мемельскую. Операция длилась 71 день, ширина фронта достигала 1000 км, а глубина — 400 км.</td>
            <td>14 сентября — 24 ноября 1944 года</td>
            <td>Освобождение Литвы, Латвии, Эстонии</td>
            <td><a href="competition.html" class="slidemore">Подробнее </a></td>
        </tbody>
        <tbody>
            <td>Берлинская операция</td>
            <td class ='tablePhoto'><img src="{{url_for('static', filename ='media/images/comp5.jpg')}}"></td>
            <td colspan = '2'>Наступательная операция стала одной из последних и самых значимых операций Красной армии в Европе. В операции участвовали войска 1-го Белорусского фронта под командованием маршала Жукова, 1-го Украинского фронта маршала Конева и 2-го Белорусского фронта маршала Рокоссовского. Общая численность советских войск составляла около 2,35 миллиона человек, 6250 танков и более 7500 самолётов.</td>
            <td>16 апреля — 2 мая 1945 года</td>
            <td>Взятие Берлина (02 мая), поражение Германии</td>
            <td><a href="https://ru.wikipedia.org/wiki/Берлинская_наступательная_операция" class="slidemore">Подробнее </a></td>
        </tbody>
    </table>
</div>
<section id ='search' class="hidden">
    <p style="color: #fff; font-size: 50px; margin-bottom: 10px; text-align: center;">Поиск</p>
        <div class="search">
            <datalist class="comps" id="comps" aria-placeholder="Поиск" >
                <option value="Передай эстафету"></option>
                <option value="Радисты"></option>
                <option value="Следопыт"></option>
                <option value="Военный рюкзак"></option>
                <option value="Спасти пленника"></option>
            </datalist>
            <input type="text"style="width: 800px; display: flex; justify-self: center; height: 40px; font-size: 30px;" list="comps" autocomplete="on">
        </div>


</section>
<section id = "feedback">
    
    <div class="feedback">
         <h1 style="display: flex; justify-self:  center; font-size: 40px;">Отзывы</h1>
        <div class="feedback1">
            <div class="feedbackUser">
                <img src = "{{url_for('static', filename ='media/images/userlogo.jpg')}}" alt="Фото профиля" class="userLogo">
                <p style="font-size: 14pt; margin-bottom: 5px;">Павел Варов</p>
                <p style="color: #999; margin-top: 5px;">23.02.2025</p>
            </div> <br>
                <div class="feedbackText">«Отличный конкурс! Получил массу удовольствия!» <br><a href="competition1.html" style="color: #fff;">Подробнее</a></div>
        </div>
        <div class="feedback2">
            <div class="feedbackUser">
            <img src = "{{url_for('static', filename ='media/images/userlogo1.jpg')}}" alt="Фото профиля" class="userLogo">
            <p style="font-size: 14pt; margin-bottom: 5px;">Инокентий Металллург</p>
            <p style="color: #999; margin-top: 5px;">23.02.2025</p>
        </div> <br>
        <div class="feedbackText">«Это был незабываемый опыт!» <br><a href="competition1.html" style="color: #fff;">Подробнее</a></div>
    </div>
    <div class="feedback3">
        <div class="feedbackUser">
        <img src = "{{url_for('static', filename ='media/images/userlogo1.jpg')}}" alt="Фото профиля" class="userLogo">
        <p style="font-size: 14pt; margin-bottom: 5px;">Виталий Шахтов</p>
        <p style="color: #999; margin-top: 5px;">23.02.2025</p>
    </div> <br>
    <div class="feedbackText">«Мне очень понравилось, советую всем принять участие!» <br><a href="competition1.html" style="color: #fff;">Подробнее</a></div>
    </div>       
</section>
<section id ="subscribe" style ='display: none;'>
    <div class="sub">
        <form class="subform">
            <h1 class="subText">Подписка на новости</h1>
            <p class="sube">Ваш email:</p>
            <input type="email" class="arinput" name="email" required placeholder="Введите ваш email">
            <div class="check">
                <input type="checkbox" class="checkbox" name="check" required>
                <label for="check">Я согласен на обработку персональных данных</label>
            </div>
            <button type="submit" class="arsub">Подписаться</button>
        </form>
    </div>   
</section>

{% endblock %}
